#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // 10x4 = 40個の定義を強制的に流し込みます

            bindings = <
&kp LS(LG(NUMBER_4))  &kp D      &kp E      &kp U     &kp COMMA  &kp H      &kp S      &kp Y          &kp R          &kp B
&kp Z                 &kp J      &kp I      &kp A     &kp O      &kp K      &kp N      &kp T          &kp W          &kp P
&kp Q                 &kp X      &kp C      &kp V     &kp COMMA  &kp G      &kp M      &kp F          &kp MINUS      &kp L
&mo 1                 &kp LSHFT  &kp LCTRL  &kp LGUI  &kp SPACE  &kp SPACE  &kp ENTER  &kp BACKSPACE  &kp RIGHT_ALT  &kp LC(SPACE)
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
