/* config/boards/shields/kg10key/kg10key.dtsi */

#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <3>;
        rows = <4>;
        /* bindingsの数（10個）とRCの数を完全に一致させます */
        map = <
            RC(0,0) RC(0,1) RC(0,2)  /* 7, 8, 9 */
            RC(1,0) RC(1,1) RC(1,2)  /* 4, 5, 6 */
            RC(2,0) RC(2,1) RC(2,2)  /* 1, 2, 3 */
                    RC(3,1)          /* 0 (中列) */
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        wakeup-source;
        diode-direction = "col2row";

        /* 成功例に合わせて &xiao_d 形式で定義 */
        col-gpios
            = <&xiao_d 4 GPIO_ACTIVE_HIGH>   /* D4  (7,4,1の列) */
            , <&xiao_d 5 GPIO_ACTIVE_HIGH>   /* D5  (8,5,2,0の列) */
            , <&xiao_d 11 GPIO_ACTIVE_HIGH>  /* D11 (9,6,3の列) */
            ;

        row-gpios
            = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* D0 (7,8,9) */
            , <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* D1 (4,5,6) */
            , <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* D2 (1,2,3) */
            , <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* D3 (0) */
            ;
    };
};
